


<h2>Ifstatement</h2>
@{ bool isTrue = true;}

@{ var i = 2;
    if (i == 1)
    {
        <h1>inside 1</h1>
    }
    if (i == 2)
    {
     <h1>inside 2</h1>
    }
    else
    {
        <p>notthing</p>
    }
}


@if (isTrue)
{
    <h1>Is A True Value</h1>
}


@{ int o = 1;}
<div>
    @(o == 1 ? "Condition is true" : "Condition IsFalse") 

</div>

